{% extends 'pages/base-v2.html' %}
{% load static %}
{% block title %}Mission{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/btn-style.css' %}">
{% endblock %}
{% block body %}
<div class="mid">
    <label class="rocker">
      <input type="checkbox" checked>
      <span class="switch-left">On</span>
      <span class="switch-right">Off</span>
    </label>
</div>
<div class="mid">
    <label class="rocker">
      <input type="checkbox" checked>
      <span class="switch-left">On</span>
      <span class="switch-right">Off</span>
    </label>
</div>


  <!-- <div class="mid">
  
    <label class="rocker rocker-small">
      <input type="checkbox">
      <span class="switch-left">Yes</span>
      <span class="switch-right">No</span>
    </label>
  
    <label class="rocker rocker-small">
      <input type="checkbox">
      <span class="switch-left">Yes</span>
      <span class="switch-right">No</span>
    </label>
  
  </div> -->
{% endblock %}