{% extends 'pages/base.html' %}
{% block title %}Green{% endblock %}
{% block body %}
<div class="container center">
    <img src="https://i.ibb.co/jRBTTF1/green-tea.png" alt="green-tea" border="0" height="150px" style="padding-top: 80px;">
    <div class="row">
        <div class="col s12">
            <p class="center">Smart Agriculture System</p>
        </div>
        {% if user.is_authenticated %}
        Hi {{ user.email }}!
        <script>window.location.href = '/dashboard';</script>
        <a href="{% url 'account_logout' %}">Log Out</a>
        <h5>Dashboard Here</h5>
        {% else %}
        <a class="right green waves-effect waves-light btn-large" href="{% url 'account_login' %}">Log In</a> 
        <a class="left green waves-effect waves-light btn-large" href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </div>
</div>
{% endblock %}